#storageBag {
  background-color: rgb(109, 60, 6);
  position: absolute;
  justify-content: center;
  align-self: center;
  color: black;
  max-height: 800px;
  max-width: 900px;
  overflow-y: auto;
}