#shop{
    background-color: white;
    position: absolute;
    justify-content: center;
    align-self: center;
    color: black
  }



#shopItems{
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-basis: auto;
  background-color: white;
  justify-content: center;
  align-self: center;
  color: black
}


